:root {
	--main-border-color: #15b5c3;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#content { 
	width: 500px;
	height: 261px;
	border: 1px solid var(--main-border-color);
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: auto;
}

.title {
	text-align: left;
	font-size: 18px;
	font-weight: lighter;
	color: #fefcf4;
	background: #18c7d7;
	border: 1px solid var(--main-border-color);
	padding: 10px 0 10px 20px;
}

.title:hover {
	background: #1cdbec;
}

.text {
	color: #999797;
	padding: 20px;
	display: none;
}

.title:hover ~ .text {
	display: block;

}

