* {
	box-sizing: border-box;
}

#content { 
	width: 500px;
	border: 1px solid #15b5c3;
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: auto;;
} /* main content */

a {
	color: #fefcf4;
	text-decoration: none;
} /* link styles */

#content > ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0;
} /* unordered list within main content */

#content ul li {
	background: #18c7d7;
	flex-grow: 1;
	text-align: center;
	border: 1px solid #15b5c3;
} /* list elements inside of main content */

#content li a {
	display: block;
	padding: 10px 0 10px 20px;
	text-align: left;
	font-size: 18px;
}

#content ul li a.active {
	background: #1cdbec;
	/*color: white;*/
}

section {
	padding: 20px;
	display: none;
	position: absolute;
}